<div class="contenedor fondo">

<label>Nombre del videojuego</label> <br>
<input class="nombrepelicula texto-nombre" [(ngModel)]="videojuegosActual" type="text" /> <br>
<label> Genero del videojuego</label> <br>
<input class="tipopelicula texto-tipo" [(ngModel)]="tipoDeVideojuego" type="text"/>  <br>
<label> Duracion del videojuego</label> <br>
<input class="Duracionpelicula texto-duracion" [(ngModel)]="duracionDeVideojuego" type="number"/>  <br>
<label> Creador del videojuego</label> <br>
<input class="tipopelicula texto-tipo" [(ngModel)]="creadorDelVideojuego" type="text"/>  <br>
<label> Imagen del videojuego</label> <br>
<input class="tipopelicula texto-tipo" [(ngModel)]="imagenDelVideojuego" type="text"/>  <br>

<button class="boton_rojo agregar" (click)="agregarVideojuego()">Agregar</button>
<p class="textopelicula">El Videojuego</p>
Videojuego agregadas:
      <table class="colorpelicula" style="width:100%">
        <tr>
          <th>Nombre</th>
          <th>Genero</th>
          <th>Duracion</th>
          <th>Borrar</th>
          <th>Creador</th>
          <th>Imagen</th>
        </tr>
        <tr *ngFor="let Videojuegos of listaVideojuegos; let i = index">
          <td>{{Videojuegos.titulo}}</td>
          <td>{{Videojuegos.tipo}}</td>
          <td>{{Videojuegos.duracion}}</td>
          <td>{{Videojuegos.creador}}</td>
          <td>{{Videojuegos.imagen}}</td>
          <td><button class="borrar borrar-texto" (click)="borrarVideojuego(i)">Borrar</button></td> 
        </tr>
      </table>

      <div>
        <button type="button" class="btn" (click)="navigateToLogin()">Login</button>
    </div>
    
    <router-outlet></router-outlet>
    
    <p></p>
