label{
    color: purple;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline gold;
    -webkit-text-stroke: 0.7px black;
}
.cerrar_sesion{
color: gold;
background-color: red;
font-size: 1.5ch;
text-decoration: underline gold;
text-shadow: 1px 1px 1px black;
float: left;
}
.contenedor{
text-align: center;
border: 5px solid gold;
font-size: 3.5ch;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;
}
.boton_rojo{
background-color: red;
font-size: 2ch;
text-decoration: underline gold;
-webkit-text-stroke: 0.7px black;
text-shadow: 1px 1px 1px black;
}
.fondo{
background-color: rgb(255, 99, 27);
height: 160vh;
}
.colorpelicula{
color: rgb(187, 102, 10);
text-decoration: underline gold;
text-shadow: 1px 1px 1px black;
font-size: 3ch;
-webkit-text-stroke: 0.7px gold;
}
.colortitulojuego{
    color: rgb(187, 102, 10);
    text-shadow: 1px 1px 1px black;
    font-size: 2.5ch;
    -webkit-text-stroke: 0.7px gold;
}
.borrar{
background-color: red;
font-size: 1.5ch;
}
.nombrepelicula{
background-color: black;
font-size: 1.5ch;
}
.tipopelicula{
background-color: black;
font-size: 1.5ch;
}
.Duracionpelicula{
background-color: black;
font-size: 1.5ch;
}
.textopelicula{
color: rgb(115, 15, 197);
text-shadow: 1px 1px 1px black;
font-size: 3.5ch;
text-decoration: underline gold;
-webkit-text-stroke: 0.7px black;
}
.textopeliculaagregada{
color: blue;
text-shadow: 1px 1px 1px black;
font-size: 4ch;
text-decoration: underline gold;
-webkit-text-stroke: 0.7px black;
}
.textopeliculacartel{
color: red;
}
.boton_listas{
background-color: orange;
}
.boton_carga{
background-color: orange;
}
.agregar{
color: gold;
text-shadow: 1px 1px 1px black;
}
.app-listas{
color: purple;
}
.app-carga{
color: purple;
}
.borrar-texto{
color: gold;
text-shadow: 1px 1px 1px black;
}
.texto-nombre{
color: gold;
}
.texto-tipo{
color: gold;
}
.texto-duracion{
color: gold;
}
.btn{
color: white;
background-color: blue;
border: none;
padding: .5em 2em;
border-radius: 2em;
box-shadow: 0 0 2px 2px;
font-size: 18px;
margin-left: 5px;
margin-right: 5px;
outline: none;
&:hover{
    background-color: gray;
    cursor: pointer;
}
}